<html>
	<head>
		<title>spheres!</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='spheres.css') }}">
	</head>
	<body>
		<div id="help"><pre>
  --------------------------------- 
 |              help               | 
  --------------------------------- 
 |               +Y                |
 |                                 | 
 |   keyboard    'w'       -Z      | 
 |   controls     |    'z'         | 
 |                |   /            | 
 |                | /              | 
 | -X 'a' ________*________ 'd' +X | 
 |              / |                | 
 |            /   |                | 
 |         'x'    |       for      | 
 |      +Z       's'   rotations   | 
 |                                 | 
 |               -Y                | 
  ---------------------------------
 | 'u' toggle time evolution       |
  ---------------------------------
 | 'i' random state                |
 | 'o' random energy               |
  ---------------------------------
 | 'p' toggle husimi               |
 | 'j' toggle plane/projection     |
 | 'k' toggle coefficients         |
 | 'l' toggle phase                |
  ---------------------------------
 | '[' decrease dt                 |
 | ']' increase dt    dt @ <span id="dt"></span> |
  ---------------------------------
 | 'q' destroy star                |
 | 'e' create star                 |
  ---------------------------------
 | '/' toggle help                 |
 | '`' toggle status               |
 | '.' toggle measurements         |
  ---------------------------------
 | click sphere to rotate sphere   |
 | click white root to rotate star |
 | click red coefficient to rotate |
 |    '0' toggles unitarity        |
  ---------------------------------
 | 'm' toggle rotation/boost       |
 | 'n' toggle boson measurements   |
 ---------------------------------</pre></div>
  		<div id="controls" style="display:none;"><pre>
   ------------------------------- 
  |         measurements          | 
   ------------------------------- 
<span id="ctrls"></span>   
     R '5' (random)               
   -------------------------------</pre></div>
  		<div id="status"><p>
 state: <span id="state"></span><br /><span id="last_collapse"></span></p>
		</div>

    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="http://threejs.org/build/three.min.js"></script>
    <script src="http://threejs.org/examples/js/controls/OrbitControls.js"></script>
    <script src="http://threejs.org/examples/js/controls/DragControls.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.slim.js"></script>
		<script src="{{ url_for('static', filename='spheres.js') }}"></script>
	</body>
<html>