<html>
	<head>
		<title>spheres!</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='spheres.css') }}">
	</head>
	<body>
		<div id="help"><pre>
  --------------------------------- 
 |              help               | 
  --------------------------------- 
 |               +Y                |
 |                                 | 
 |   keyboard    'w'       -Z      | 
 |   controls     |    'z'         | 
 |                |   /            | 
 |                | /              | 
 | -X 'a' ________*________ 'd' +X | 
 |              / |                | 
 |            /   |                | 
 |         'x'    |       for      | 
 |      +Z       's'   rotations   | 
 |                                 | 
 |               -Y                | 
  ---------------------------------
 | 'u' toggle time evolution       |
  ---------------------------------
 | 'i' random state                |
 | 'o' random energy               |
  ---------------------------------
 | 'p' toggle husimi               |
 | 'j' toggle plane/projection     |
 | 'k' toggle coefficients         |
 | 'l' toggle phase                |
  ---------------------------------
 | '[' decrease dt                 |
 | ']' increase dt    dt @ <span id="dt"></span> |
  ---------------------------------
 | 'q' destroy star                |
 | 'e' create star                 |
  ---------------------------------
 | '/' toggle help                 |
 | '`' toggle status               |
 | '-' toggle measurements         |
  ---------------------------------
 | click sphere to rotate spin     |
 | click white root to rotate star |
 | click red coefficient to rotate |
  ---------------------------------
 | 'm' toggle boost                |
 | 'n' toggle symmetrical qubit(s) |
  ---------------------------------
 | 'c' togg 1d harmonic oscillator |
 | 'v' togg 2d harmonic oscillator |
 | 'b' toggle spin/1D/2D evolution |
  ---------------------------------
 | 'r' toggle others               |
  ---------------------------------</pre></div>
  		<div id="controls" style="display:none;"><pre>
   ------------------------------- 
  |         measurements          | 
   ------------------------------- 
<span id="ctrls"></span>   
   -------------------------------        
    <input type="text" id="dims" />
    <button onclick="set_dims()" type="button">set dims</button>  
    <div style="margin-left:2em;" id="density_selector"></div>
    <button onclick="set_density_selected()" type="button">select</button>
   -------------------------------</pre></div>
   <div id="others"><pre>
   ------------------------------- 
  |            others             | 
   ------------------------------- 
<span id="thrs"></span>
<input style="margin-left:3em; width:2em;" type="text" id="collider" /><button type='button' onclick='do_collide()'>collide</button><input style="margin-left:3em; width:2em;" type="text" id="swapper" /><button type='button' onclick='do_swap()'>swap</button> 
<button style="margin-left:3em;" type='button' onclick='do_create()'>create</button><button style="margin-left:3em;" type='button' onclick='do_split()'>split into</button><input style="width:2em;" type="text" id="split1" /><input style="width:2em;" type="text" id="split2" /> 
<br />   -------------------------------
<button style="margin-left:3em;" type='button' onclick='do_angles()'>penrose angles</button>
<span id="angles"></span>
   -------------------------------</pre></div>
  		<div id="status"><p>
 state: <span id="state"></span><br /><span id="last_collapse"></span></p>
		</div>

    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="http://threejs.org/build/three.min.js"></script>
    <script src="http://threejs.org/examples/js/controls/OrbitControls.js"></script>
    <script src="http://threejs.org/examples/js/controls/DragControls.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.slim.js"></script>
		<script src="{{ url_for('static', filename='spheres.js') }}"></script>
	</body>
<html>